{{>header}}
{{>navigation}}
<div class="container my-5">
    <h1>Payment Processing With Stripe</h1>
    <div class="row my-5 ">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Returning Customer?</h5>
                    <p class="card-text">Access all services by sigining into your account.</p>
                    <a href="/login" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">First Visit?</h5>
                    <p class="card-text">Don't Worry. Create an account with a few simple steps</p>
                    <a href="/register" class="btn btn-outline-primary">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}